.comment {
    border: 2px solid black;
    border-radius: 15px;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: rgb(175 196 161 / 75%);
    font-size: 1.1em;
    color: black;
    width: 30em;
}

.time {
    display: flex;
    flex-direction: row-reverse;
    color: aliceblue;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.headDiv {
    display: flex;
    justify-content: space-between;
}